@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import "../../styles/setting";

.navbar-bg {
  background-color: $fresh;
  color: $white;
}
.logo-text {
  font-family: "Sacramento", cursive;
  font-size: 2.5rem;
}
